name: ci

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version:
          - stable
          - 1.25.x
          - 1.24.x
          - 1.23.x
          - 1.22.x
          - 1.21.x
          - 1.20.x
          - 1.19.x
          - 1.18.x
          - 1.17.x
          - 1.16.x
          - 1.15.x
          - 1.14.x
          - 1.13.x
          - 1.12.x
    steps:
    - uses: actions/checkout@v6
    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}

    - name: Test
      run: |
        go vet ./...
        go test -tags CI -race ./...
      env:
        GOPATH: /home/runner/go
